@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

.reg {
  margin-left: 26%;
  font-weight: bold;
  font-size: larger;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}



.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}


.form,
.content {
  width: 20%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}


.captionlogin {
  margin-left: 26%;
  font-weight: bold;
  font-size: larger;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.Blog {
  font-family: cursive;
  background-image: url("https://i.ibb.co/Gvn9G9K/How-am-I-feeling.png");
  background-repeat:no-repeat;
  background-size: cover;
  padding: 0%;
  margin: 0%;
}

.sneakImg {
  
  width: 90%;

}




.postBox {
  display: grid;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  grid-template-columns: 1fr 1fr;
  padding: 10%;

  margin-left: 33%;

}

.Op {
  color: rgb(0, 0, 0);
  border: 3px solid;
  border-radius: 10%;
  box-shadow: 0 5px rgb(152, 130, 94);
}




.homeImg {
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
}



.aboutImg {
  padding: 0px;
  margin-top: 0px;
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5%;
}

.homepic {
  height: 500%;
  width: 900%;
} 


/* LINKS */




.logo {
  position: absolute;
  font-size: 20px;

}

.log {
  margin-left: 20%;
  padding: 2%;
}

.reg {
  margin-left: 30%;
}


/* PAGE */

.yoursafe {
  margin-bottom: 10%;
}
h1 {
  margin-left: 32%;
  margin-bottom: 30%;
}

.fo {
  padding: 20%;
}

.fom {
  padding: 20%;
}


